*.in              text
*.ini             text
*.py              text
*.toml            text
*.txt             text

.coveragerc       text
.gitattributes    text
.gitignore        text
pylintrc          text
