import setuptools


setuptools.setup(
    name='${name}',
    % for arg, value in setup_kwargs:
    ${arg}=${repr(value)},
    % endfor
    py_modules=[
        'testpkg',
    ],
    setup_requires=['setuptools_autover'],
)

# vim: set filetype=python:
